<md-toolbar color="primary" style="margin-bottom: 15px" class="mat-elevation-z10">
    <span style="font-family: 'Righteous', cursive; color: #eceff1; border: 1px solid #eceff1; padding: 3px">KOCHTECH</span>
    <span style="flex: 1 1 auto"></span>

    <button md-button style="padding: 1%">
        <md-icon style="color: #eceff1; padding-right: 7px">assignment_ind</md-icon>
        <span style="font-family: 'Open Sans'; color: #eceff1; padding-right: 5%">About Sam</span>
    </button>

    <button md-button style="padding: 1%">
        <md-icon style="color: #eceff1; padding-right: 7px">chrome_reader_mode</md-icon>
        <span style="font-family: 'Open Sans'; color: #eceff1; padding-right: 5%">Blog</span>
    </button>
    
</md-toolbar>
<div class="content">
    <router-outlet></router-outlet>
</div>


