@import '~@angular/material/theming';
@include mat-core();


$kt-primary: (
    50 : #e0f2f1,
    100 : #b3e0db,
    200 : #80cbc4,
    300 : #4db6ac,
    400 : #26a69a,
    500 : #009688,
    600 : #008e80,
    700 : #008375,
    800 : #00796b,
    900 : #006858,
    A100 : #97ffec,
    A200 : #64ffe3,
    A400 : #31ffda,
    A700 : #18ffd5,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$kt-accent: (
    50 : #f3f3f3,
    100 : #e2e2e2,
    200 : #cfcfcf,
    300 : #bbbbbb,
    400 : #adadad,
    500 : #9e9e9e,
    600 : #969696,
    700 : #8c8c8c,
    800 : #828282,
    900 : #707070,
    A100 : #fef3f3,
    A200 : #f9c5c5,
    A400 : #ff8b8b,
    A700 : #ff7272,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);



$kt-warn: (
    50 : #fff3e0,
    100 : #ffe0b3,
    200 : #ffcc80,
    300 : #ffb74d,
    400 : #ffa726,
    500 : #ff9800,
    600 : #ff9000,
    700 : #ff8500,
    800 : #ff7b00,
    900 : #ff6a00,
    A100 : #ffffff,
    A200 : #fff7f2,
    A400 : #ffd6bf,
    A700 : #ffc5a6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);





$my-app-primary: mat-palette($kt-primary);
$my-app-accent:  mat-palette($kt-accent);
$my-app-warn:    mat-palette($kt-warn);

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

@include angular-material-theme($my-app-theme);