@import '~@angular/material/theming';
@include mat-core();


$kt-primary: (
    50 : #e5e6e7,
    100 : #bec2c3,
    200 : #93999c,
    300 : #677074,
    400 : #475156,
    500 : #263238,
    600 : #222d32,
    700 : #1c262b,
    800 : #171f24,
    900 : #0d1317,
    A100 : #5bb9ff,
    A200 : #28a3ff,
    A400 : #008bf4,
    A700 : #007dda,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);



$kt-accent: (
    50 : #f3f3f3,
    100 : #e2e2e2,
    200 : #cfcfcf,
    300 : #bbbbbb,
    400 : #adadad,
    500 : #9e9e9e,
    600 : #969696,
    700 : #8c8c8c,
    800 : #828282,
    900 : #707070,
    A100 : #fef3f3,
    A200 : #f9c5c5,
    A400 : #ff8b8b,
    A700 : #ff7272,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);



$kt-warn: (
    50 : #fff3e0,
    100 : #ffe0b3,
    200 : #ffcc80,
    300 : #ffb74d,
    400 : #ffa726,
    500 : #ff9800,
    600 : #ff9000,
    700 : #ff8500,
    800 : #ff7b00,
    900 : #ff6a00,
    A100 : #ffffff,
    A200 : #fff7f2,
    A400 : #ffd6bf,
    A700 : #ffc5a6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);





$my-app-primary: mat-palette($kt-primary);
$my-app-accent:  mat-palette($kt-accent);
$my-app-warn:    mat-palette($kt-warn);

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

@include angular-material-theme($my-app-theme);